!!!
%html
  %head
    %title Easyusing 教学设备管理系统 
    = stylesheet_link_tag 'application', 'media' => 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

  %body
   
    #main
      - if flash[:notice]
        #notice
          %p= flash[:notice]
      - elsif flash[:warning]
        #warning
          %p= flash[:warning]
      = yield
